@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap')

$blue: hsl(246, 80%, 60%)
//(work)
$light-red-w: hsl(15, 100%, 70%)
//(play)
$soft-blue: hsl(195, 74%, 62%)
//(study)
$light-red-s: hsl(348, 100%, 68%)
//(exercise)
$lime-green: hsl(145, 58%, 55%)
//(social)
$violet: hsl(264, 64%, 52%)
//(self care)
$soft-orange: hsl(43, 84%, 65%)
$very-dark-blue: hsl(226, 43%, 10%)
$dark-blue: hsl(235, 46%, 20%)
$desaturated-blue: hsl(235, 45%, 61%)
$pale-blue: hsl(236, 100%, 87%)
$font-family:'Rubik'

body
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: $font-family
    color: $pale-blue
    width: 100vw
    min-height: 100vh    
    display: flex
    flex-direction: column    
    align-items: center
    justify-content: center    
    background-color: black
main
    width: 375px
    height: 100%    
    display: grid
    grid-template-columns: repeat(1,1fr)
    grid-template-rows: 200px auto
    grid-row-gap: 25px
    padding-top: 100px
    padding-bottom: 100px
    background-color: $very-dark-blue
    justify-items: center
article
    background-color: $dark-blue
    border-radius: 15px
    height: 200px
    width: 350px
    .name-photo
        background-color: $blue
        border-radius: 15px
        display: flex        
        align-items: center
        height: 65%
        .wrapper-name
            display: flex
            flex-direction: column
            span
                margin-left: 20px
                margin-top: 5px
            .name
                font-size: 1.5rem
                color: white
                font-weight: 300
        .wrapper-photo
            width: 80px
            height: 80px
            border: 2px solid white
            border-radius: 80px
            margin-left: 30px
            img
                width: 80px
                height: 80px
    ul
        margin: 0
        padding: 0
        height: 35%
        list-style: none
        display: flex
        justify-content: space-around
        align-items: center
        li
            display: block
            a
                display: block
                text-decoration: none
                color: $pale-blue
                font-size: 1.1rem
                &:hover
                    color: white
                &:active                
                    color: white                
    font-size: 0.9rem

.card
    background-color: $light-red-w
    background-image: url('../images/icon-work.svg')
    background-repeat: no-repeat
    background-position-x: 95%
    background-position-y: -3%
    background-size: 70px
    border-radius: 15px
    position: relative
    width: 350px
    height: 150px
    .card-content
        height: 74%
        width: 100%
        background-color: $dark-blue
        position: absolute
        bottom: -2px
        border-radius: 15px
        .wrapper-content
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            height: 100%
            .row-content
                display: flex
                justify-content: space-between
                align-items: center
                width: 90%
                padding: 5px
                button
                    border: none
                    background: transparent
                    cursor: pointer
                .type
                    font-weight: 500
                    color: white
                .hours
                    color: white
                    font-size: 2rem
                    font-weight: 300
                .last


                    
                

        