@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
.Work {
  background-color: #ff8c66;
  background-image: url("../images/icon-work.svg");
}

.Play {
  background-color: #56c2e6;
  background-image: url("../images/icon-play.svg");
}

.Study {
  background-color: #ff5c7c;
  background-image: url("../images/icon-study.svg");
}

.Exercise {
  background-color: #4acf81;
  background-image: url("../images/icon-exercise.svg");
}

.Social {
  background-color: #7536d3;
  background-image: url("../images/icon-social.svg");
}

.Self {
  background-color: #f1c65b;
  background-image: url("../images/icon-self-care.svg");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik";
  color: #bdc1ff;
  width: 100vw;
  background-color: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 375px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 200px auto;
  grid-row-gap: 25px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #0f1424;
  justify-items: center;
}
@media (min-width: 768px) {
  .wrapper {
    width: 750px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px auto;
    background-color: #0f1424;
  }
}
@media (min-width: 1368px) {
  .wrapper {
    width: 1100px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 240px);
    grid-gap: 25px;
    align-content: center;
    padding: 200px;
    min-height: 0;
  }
}

article {
  background-color: #1c1f4a;
  border-radius: 15px;
  height: 200px;
  width: 330px;
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  article {
    width: 710px;
    grid-column: 1/span 2;
  }
}
@media (min-width: 1368px) {
  article {
    width: 100%;
    height: auto;
    grid-column: 1;
    grid-row: 1/span 2;
  }
}
article .name-photo {
  background-color: #5847eb;
  border-radius: 15px;
  display: flex;
  align-items: center;
  height: 65%;
}
@media (min-width: 1368px) {
  article .name-photo {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}
article .name-photo .wrapper-name {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
article .name-photo .wrapper-name .name-content, article .name-photo .wrapper-name .text-min {
  margin-left: 20px;
  margin-top: 5px;
}
@media (min-width: 1368px) {
  article .name-photo .wrapper-name .name-content, article .name-photo .wrapper-name .text-min {
    margin-left: 20px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
  }
}
article .name-photo .wrapper-name .name {
  font-size: 1.5rem;
  color: white;
  font-weight: 300;
}
@media (min-width: 1368px) {
  article .name-photo .wrapper-name .name {
    font-size: 2.5rem;
  }
}
article .name-photo .wrapper-photo {
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-radius: 80px;
  margin-left: 30px;
}
@media (min-width: 1368px) {
  article .name-photo .wrapper-photo {
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 1368px) {
  article .name-photo .wrapper-photo {
    margin-left: 20px;
  }
}
article .name-photo .wrapper-photo img {
  width: 80px;
  height: 80px;
}
@media (min-width: 1368px) {
  article .name-photo .wrapper-photo img {
    width: 60px;
    height: 60px;
  }
}
article ul {
  margin: 0;
  padding: 0;
  height: 35%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 1368px) {
  article ul {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
    justify-content: center;
  }
}
article ul li {
  display: block;
}
@media (min-width: 1368px) {
  article ul li {
    padding: 10px;
  }
}
article ul li a {
  display: block;
  text-decoration: none;
  color: #bdc1ff;
  font-size: 1.1rem;
}
article ul li a:hover {
  color: white;
}
article ul li a:active {
  color: white;
}

.active {
  color: white;
}

.card {
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: -3%;
  background-size: 70px;
  border-radius: 15px;
  position: relative;
  width: 330px;
  height: 170px;
}
@media (min-width: 1368px) {
  .card {
    width: 100%;
  }
}
@media (min-width: 1368px) {
  .card {
    height: auto;
    width: 100%;
  }
}
.card .card-content {
  height: 74%;
  width: 100%;
  background-color: #1c1f4a;
  position: absolute;
  bottom: -2px;
  border-radius: 15px;
}
@media (min-width: 1368px) {
  .card .card-content {
    height: 83%;
  }
}
.card .card-content .wrapper-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media (min-width: 1368px) {
  .card .card-content .wrapper-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.card .card-content .wrapper-content .row-content-sup, .card .card-content .wrapper-content .row-content-inf {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 15px;
}
.card .card-content .wrapper-content .row-content-sup button, .card .card-content .wrapper-content .row-content-inf button {
  border: none;
  background: transparent;
  cursor: pointer;
}
.card .card-content .wrapper-content .row-content-sup .type, .card .card-content .wrapper-content .row-content-inf .type {
  font-weight: 500;
  color: white;
}
@media (min-width: 1368px) {
  .card .card-content .wrapper-content .row-content-sup .type, .card .card-content .wrapper-content .row-content-inf .type {
    font-size: 1.2rem;
  }
}
.card .card-content .wrapper-content .row-content-sup .hours, .card .card-content .wrapper-content .row-content-inf .hours {
  color: white;
  font-size: 2rem;
  font-weight: 300;
}
@media (min-width: 1368px) {
  .card .card-content .wrapper-content .row-content-sup .hours, .card .card-content .wrapper-content .row-content-inf .hours {
    font-size: 3.2rem;
    margin-bottom: 5px;
  }
}
.card .card-content .wrapper-content .row-content-sup .last, .card .card-content .wrapper-content .row-content-inf .last {
  font-size: 0.8rem;
  font-weight: 300;
}
@media (min-width: 1368px) {
  .card .card-content .wrapper-content .row-content-inf {
    flex-direction: column;
    align-items: flex-start;
  }
}

/*# sourceMappingURL=style.css.map */
